<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>About</title>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
</head>

<body>

    <header>
        <div class="wrapper">
            <h2>About</h2>
            <nav>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="about.html" class="selected">About</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div id="content">
        <div class="identity">
            <span class="avatar"><img src="../images/avatar.jpg" alt="" /></span>
            <h2>Valentin Krasznai</h2>
            <h3>Student</h3>
            <h4>E-mail: valentin.krasznai@gmail.com</h4>
        </div>
    </div>

</body>
</html>