body {
    background-color: #f4f4f4;
}

button{
    background-color: #666666;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'Raleway', sans-serif;

}

#colorPicker{
    width: 200px;
    height: 80px;
    font-size: 24px;
}

#setTheme{
    width: 120px;
    height: 40px;
    font-size: 20px;
}
/* Content */

#content {
    background: #fff;
    border: solid 1px rgba(160, 160, 160, 0.3);

    width: 338px;
    height: 180px;
    text-align: center;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}