body {
    background-color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: black;
}

button{
    background-color: #666666;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'Raleway', sans-serif;
}

#colorPicker{
    width: 120px;
    height: 40px;
}
/* Content */

#content {
    background: #fff;
    border: solid 1px rgba(160, 160, 160, 0.3);

    width: 358px;
    height: 100px;
    text-align: center;
    margin: 20px auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}