body {
    padding-top: 8px;
    background-color: #f4f4f4;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: black;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

#content {
    margin: 0 auto;
    text-align: center;
    width: 1260px;
    height: 760px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.canvas-wrapper {
    position: relative;
    width: 800px;
    height: 700px;
    background: #fff;
    border: solid 1px rgba(160, 160, 160, 0.3);
    border-radius: 8px;
    align-self: flex-start;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
}

.colors {
    width: 44px;
    height: 750px;
    border: solid 1px rgba(160, 160, 160, 0.3);
    border-radius: 8px;
    background: white;
    align-self: flex-start;
    margin-left: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    cursor: pointer;
}

.color {
    width: 24px;
    height: 24px;
    border-radius: 50%;

    border: 1px solid rgba(100, 100, 100, 0.3);
    margin: 4px 0;
    align-self: center;
}

.color:first-child {
    margin-top: 8px;
}

.color:last-child {
    margin-bottom: 8px;
}

.tools {
    margin-top: 2px;
    width: 800px;
    height: 44px;
    background: #fff;
    border: solid 1px rgba(160, 160, 160, 0.3);
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.tool-block {
    padding: 0 5px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    align-self: center;
    cursor: pointer;
}

.tool-block:last-child {
    padding: 0 5px 0 185px;
    cursor: default;
}

.tool {
    height: 24px;
    width: 24px;

    margin: 0 5px;
    align-self: center;

    background: no-repeat center;
    background-size: contain;
}

.grow:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#undo {
    background-size: 95% 95%;
    background-image: url("../res/undo.png");
}

#clear {
    background-image: url("../res/clear.png");
}

#pencil {
    background-image: url("../res/pencil.png");
}

#eraser {
    background-image: url("../res/eraser.png");
}

#paint-bucket {
    background-image: url("../res/paint_bucket.png");
}

#eyedropper {
    background-image: url("../res/eyedropper.png");
}

#line {
    background-image: url("../res/line.png");
}

#circle {
    background-image: url("../res/circle.png");
}

#triangle {
    background-image: url("../res/triangle.png");
}

#rectangle {
    background-image: url("../res/rectangle.png");
}

#color-sample {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgba(100, 100, 100, 0.3);
    align-self: center;
    background: black;
    margin-right: 5px;
}

#color-text {
    white-space: nowrap;
    cursor: default;
    font-weight: 900;
    align-self: center;
    margin: 0 10px 0 25px;

    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    user-select: none;
}

.size {
    border-radius: 50%;
    border: 2px solid black;

    margin: 0 5px;
    align-self: center;
}

#small {
    width: 6px;
    height: 6px;
}

#medium {
    width: 12px;
    height: 12px;
}

#large {
    width: 18px;
    height: 18px;
}

.separator {
    width: 2px;
    height: 28px;
    background: rgba(100, 100, 100, 0.3);
    align-self: center;
    cursor: pointer;
}